/*=============
@media variable
=============*/
$break-xs: 320px; /*	@meida (max-width:320px) {};	*/
$break-sm: 767px; /*	@meida (max-width:767px) {};	*/
$break-md: 991px; /*	@meida (max-width:991px) {};	*/
$break-lg: 1100px; /*	@meida (min-width:1200px)	{};	*/

/*=============
Theme Layout
=============*/
$layout-lg: 70px; /*	Left Menu should be overlay on body, set value 70px and for offset menu set 315px */
$layout-sm: 70px; /*	Left Menu Close width is 70px */

$layout-fluid: 180px; /*	Layout full width - default value is 180px,
																						for remove right space $layout-fluid variable value should be  30px */

$layout-body-fluid: 50px; /* 	Workarea body with left and right space - default value is 50px
																						you can set left and right space by value like 0px or 10px */


  $large:25px;                                         
  $medium:16px;
  $small:10px;
  $border-radius-sm:10px;


/*====== White Colors=========*/
$white: #ffffff;
$cosmic-latte: #f9fef9;
$light-white: #fafafa;
$white-smoke: #f5f5f5;


/*====== Blue Colors=========*/
$blue: #007fff;
$dodger-blue: #2f88ef;
$egyptian-blue: #174f93;



/*=============
Padding Controlled start
===============*/
$padding-10:10px;
$padding-20:20px;
$padding-30:30px;
/*=============
Padding Controlled End
===============*/


